@use "../sass/functions.scss" as *;

$breakpoints-min: (
	"medium": rem(768),
	"large": rem(980),
);

@mixin breakpoint-min($size) {
	@media (min-width: map-get($breakpoints-min,$size)) {
		@content;
	}
}
