@use "../../sass/mixins.scss" as *;
@use "../../sass/colors.scss" as *;
@use "../../sass/functions.scss" as *;
@use "../../sass/variables&resets.scss" as *;
@use "../../sass/breakpoints.scss" as *;

.newsLetter-section {
	margin-bottom: rem(80);
	margin-top: rem(100);
	.container {
		background-color: var(--light-dark);
		display: grid;
		grid-template-columns: 1fr;
		@include breakpoint-min(medium) {
			grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
		}
		gap: rem(25);
		border-radius: rem(20);
		.left {
			padding: rem(40);
			.img {
				max-width: rem(650);
				margin-inline: auto;
				img {
					width: 100%;
				}
			}
		}
		.right {
			padding-block: rem(50);
			padding-inline: rem(20);
			color: var(--white);
			max-width: rem(450);
			margin-inline: auto;
			h4 {
				margin-bottom: rem(20);
				font-size: clamp(1.75rem, 1.5917rem + 1.662vw, 3.1875rem);
				line-height: $height-large;
			}
			p {
				font-weight: 400;
				font-size: $font-p;
			}
			.form-section {
				margin-top: rem(40);
				form {
					.button2 {
						background-color: var(--purple);
						border: rem(2) solid var(--purple);
						@include flex;
						flex: 0.7;
						color: var(--white);
						gap: rem(10);
						max-width: rem(400);
						margin-inline: auto;
						width: 100%;
						cursor: pointer;
						border-radius: rem(20);
						margin-top: rem(20);
						height: rem(60);
					}
					@include breakpoint-min(medium) {
						.button2 {
							display: none;
						}
					}
					.mail {
						@include flex;
						justify-content: flex-start;
						height: rem(60);
						background-color: var(--white);
						border-radius: rem(20);
						overflow: hidden;
						max-width: rem(430);
						width: 100%;
						margin-inline: auto;
						input {
							height: 100%;
							flex: 1;
							outline: none;
							padding-left: rem(20);
							border: none;
							font-size: rem(15);
							font-weight: 600;
							button {
								display: none;
							}
						}
						button {
							background-color: var(--purple);
							border: rem(2) solid var(--purple);
							@include flex;
							height: 100%;
							flex: 0.7;
							color: var(--white);
							gap: rem(10);
							width: 100%;
							cursor: pointer;
							position: relative;
							p {
								font-weight: 600;
							}
							display: none;
							@include breakpoint-min(medium) {
								display: flex;
							}
						}
						.error {
							color: red;
							font-size: rem(15);
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
