@use "../../sass/mixins.scss" as *;
@use "../../sass/colors.scss" as *;
@use "../../sass/functions.scss" as *;
@use "../../sass/variables&resets.scss" as *;
@use "../../sass/breakpoints.scss" as *;

.how-it-works-section {
	margin-top: rem(100);
	.container {
		@include flex;
		flex-direction: column;
		cursor: default;
		.headen {
			width: 100%;
			color: var(--white);
			h5 {
				font-size: clamp(1.75rem, 1.9917rem + 1.662vw, 3.1875rem);
				margin-bottom: rem(20);
			}
			p {
				font-size: clamp(0.75rem, 0.917rem + 0.462vw, 2rem);
				font-weight: 400;
			}
		}

		.cards {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
			margin-top: rem(50);
			gap: rem(35);
			width: 100%;
			cursor: pointer;
			.card {
				background-color: var(--light-dark);
				max-width: rem(450);
				margin-inline: auto;
				padding: rem(10);
				width: 100%;
				height: 100%;
				color: var(--white);
				text-align: center;
				border-radius: rem(10);
				.img {
					max-width: rem(250);
					margin-inline: auto;
					img {
						width: 100%;
					}
				}
				.details {
					h5 {
						font-weight: 600;
					}
					p {
						font-weight: 400;
						font-size: rem(16);
						color: var(--sales);
						margin-top: rem(10);
					}
				}
				@include breakpoint-min(large) {
					max-width: rem(350);
					margin-inline: auto;
				}
			}
		}
	}
}
