@use "../../sass/colors.scss" as *;
@use "../../sass/variables&resets.scss" as *;
@use "../../sass/mixins.scss" as *;
@use "../../sass/functions.scss" as *;
@use "../../sass/breakpoints.scss" as *;

header {
	background-color: var(--very-dark);
	position: sticky;
	top: rem(0);
	z-index: 99;
	box-shadow: 0 1rem 1.2rem -1rem var(--very-dark);
	.container {
		padding-block: rem(20);
		.navigation {
			display: none;
		}

		.logo-details {
			@include flex;
			gap: rem(20);
			p {
				color: var(--white);
			}
		}
		.mobile-nav {
			cursor: pointer;
		}
		.mobile-navigation {
			@include flex;
			position: fixed;
			right: 0;
			top: 0;
			width: 80%;
			height: 100vh;
			background-color: rgba(14, 13, 13, 0.959);
			backdrop-filter: blur(2px);
			.close {
				position: absolute;
				top: rem(35);
				right: rem(35);
				.left {
					transform: rotate(45deg);
				}
				.right {
					transform: rotate(-45deg);
				}
				span {
					display: block;
					width: rem(30);
					height: rem(2);
					background-color: var(--white);
				}
			}
			nav {
				flex-direction: column;
				@include flex;
				ul {
					@include flex;
					flex-direction: column;
					list-style: none;
					gap: rem(20);
					a {
						color: var(--white);
						text-decoration: none;
						cursor: pointer;
						font-family: $space-mono;
						font-size: clamp(rem(14), rem(18) + 1vw, rem(25));
						line-height: rem(22.4);
						font-weight: 400;
						&:hover {
							position: relative;
							&::before {
								content: "";
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: rem(2);
								background-color: var(--purple);
							}
						}
					}
					margin-bottom: rem(45);
				}
				a {
					text-decoration: none;
					button {
						@include button;
					}
				}
			}
		}
		@include breakpoint-min(large) {
			.navigation {
				display: flex;
				nav {
					@include flex;
					gap: rem(30);
					ul {
						@include flex;
						gap: rem(30);
						a {
							color: var(--white);
							text-decoration: none;
							font-size: $font-p;
							position: relative;
							&::before {
								content: "";
								position: absolute;
								bottom: 0;
								left: 0;
								width: 0%;
								height: rem(3);
								background-color: var(--purple);
								transition: 0.2s ease;
							}
							&:hover {
								&::before {
									width: 100%;
									background-color: var(--purple);
									transition: width 0.2s ease;
								}
							}
						}
					}
					a {
						text-decoration: none;
						button {
							background-color: var(--purple);
							border: none;
							height: rem(55);
							padding-inline: rem(30);
							width: rem(152);
							@include flex;
							gap: rem(12);
							border-radius: rem(25);
							color: var(--white);
							text-decoration: none;
							&:hover {
								transform: scale(0.94);
								transition: 0.3s ease;
							}
						}
					}
				}
			}
			.mobile-nav,
			.mobile-navigation {
				display: none;
			}
		}
	}
}
