@use "../../sass/mixins.scss" as *;
@use "../../sass/colors.scss" as *;
@use "../../sass/functions.scss" as *;
@use "../../sass/variables&resets.scss" as *;
@use "../../sass/breakpoints.scss" as *;

.mushroom-section {
	background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
		url("../../assets/collection/collections/Screen=Mobile.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: rem(60);
	height: 100vh;
	@include flex;
	flex-direction: column;
	.container {
		width: min(100% - rem(50), rem(1200));
		margin-inline: auto;
		padding-block: rem(30);
		display: grid;
		grid-template-columns: 1fr;
		.left {
			width: 100%;
			max-width: rem(320);
			margin-inline: auto;

			h5 {
				color: var(--white);
				font-size: clamp(1.75rem, 1.9917rem + 3.662vw, 3.1875rem);
				font-weight: 600;
				margin-block: rem(30);
				line-height: 1.2;
			}
			.top-button {
				display: none;
			}
			.user {
				@include flex;
				justify-content: flex-start;
				gap: rem(15);
				max-width: rem(151);
				background-color: var(--light-dark);
				padding: rem(11);
				border-radius: rem(20);
				color: var(--white);
				font-size: rem(16);
				font-weight: 400;
				.img {
					height: rem(24);
					width: rem(24);
					img {
						width: 100%;
					}
				}
			}
		}
		.right {
			width: 100%;
			.counter-wrapper {
				padding: rem(30);
				margin-inline: auto;
				background: rgba(59, 59, 59, 0.5);
				backdrop-filter: blur(5px);
				border-radius: 20px;
				max-width: rem(320);
				margin-inline: auto;
				.counter-inner {
					.counter {
						@include flex;
					}
				}
				.counter-inner {
					p {
						margin-bottom: rem(10);
						color: var(--white);
						font-weight: 400;
						font-size: $font-p;
						font-size: rem(15);
						text-align: left;
					}
					.counter {
						color: var(--white);
						@include flex;
						justify-content: space-between;
						.colon {
							font-size: $font-medium;
							font-weight: 600;
						}
						.hours,
						.minutes,
						.seconds {
							h5 {
								font-size: clamp(1.75rem, 0.9917rem + 3.662vw, 3.1875rem);
								margin-bottom: rem(5);
								font-weight: 600;
								text-align: center;
							}
							.period {
								font-size: clamp(1rem, 0.868rem + 0.5634vw, 1.375rem);
							}
						}
					}
				}
			}
			.bottom-button {
				@include button;
				width: 100%;
				margin-top: rem(50);
				padding-block: rem(20);
				background-color: var(--white);
				max-width: rem(350);
				margin-inline: auto;
				p {
					color: black;
					font-weight: 600;
					font-size: $font-p;
				}
			}
		}
	}
	@include breakpoint-min(medium) {
		background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
			url("../../assets/collection/collections/Screen=Tablet.svg");
		background-repeat: no-repeat;
		background-position: center rem(5);
		background-size: cover;

		.container {
			grid-template-columns: 1fr 1fr;
			align-items: flex-end;
			.left {
				max-width: unset;
				.top-button {
					@include button;
					width: 100%;
					margin-top: rem(50);
					padding-block: rem(20);
					background-color: var(--white);
					max-width: rem(200);
					margin-right: auto;
					margin-top: 0;
					gap: rem(15);
					p {
						color: black;
						font-weight: 600;
						font-size: $font-p;
					}
				}
			}
			.right {
				.bottom-button {
					display: none;
				}
			}
		}
	}
	@include breakpoint-min(large) {
		background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
			url("../../assets/collection/collections/Screen=Desktop.svg");
		background-repeat: no-repeat;
		background-position: center rem(5);
		background-size: cover;
		.container {
			margin-top: rem(70);
			.left {
				h5 {
					font-size: rem(70) !important;
				}
			}
		}
	}
}

.top-button,
.bottom-button {
	&:hover {
		transform: scale(0.96);
		transition: 0.3s ease;
	}
}
